*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
   text-align: center;
   text-decoration: 
}
.carrossel {

}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    display: fixed;
    bottom: 0;
}
