*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #657895;
}

nav{
    background-color: #4a6286;
    padding: 10px;
    align-items: space-between;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 20px;
    margin-right: 20px;
    margin-top: 40px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: solid;
}

.nav-links a{
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.logo{
    width: 100px;
}

h1, h2{
    text-align: center;
    font-family: 'Zen Dots';
    color: black;
    margin: 20px 0;
}

.carrossel {

}

section{
    background-color: lavender;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.texto{
    max-width: 800px;
    margin: 0 auto;
    color: black;
    font-size: 1.25rem;
    padding: 10px;
}

img{
    display: block;
    margin: 20px auto;
    width: 600px;
    padding: auto;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    display: absolute;
    bottom: 0;
}
